.footer_sec {
  background-image: url(../imgs/footer_bg.png);
  background-position: center;
  background-size: cover;
  padding: 6vh 0 0 0;
}

.add_cont {
  display: flex;
  gap: 12px;
}
.address_text {
  font-size: 16px;
  line-height: 145%;
  font-weight: 300 !important;
  font-family: Lato !important;
  color: #404040;
}
.footer_heading {
  font-size: 16px;
  font-weight: 700 !important;
  font-family: Lato !important;
  color: #404040;
}
.footer_item a {
  font-size: 16px;
  line-height: 145%;
  font-weight: 300 !important;
  font-family: Lato !important;
  color: #404040;
  text-decoration: none;
}
.footer_items {
  list-style: none;
  padding-left: 0%;
}
.footer_heading_label {
  font-size: 16px;
  line-height: 145%;
  font-weight: 300 !important;
  font-family: Lato !important;
  color: #404040;
}
.footer_heading2 {
  font-size: 82px;
  line-height: 125%;
  text-transform: uppercase;
  font-weight: 300 !important;
  font-family: Lato !important;
  color: #404040;
}
.footer_arrow {
  display: flex;
  justify-content: end;
  align-items: center;
}
.copyright_text {
  font-size: 16px;
  line-height: 145%;
  font-weight: 300 !important;
  font-family: Lato !important;
  color: #525252;
}
.copyright_text span {
  font-size: 16px;
  font-weight: 500;
  font-family: Lato !important;
  color: #525252;
}
.footer_payment_icons {
  display: flex;
  justify-content: end;
}
.row_copy_right {
  padding: 2vh 0 2vh 0;
  border-top: 1px solid #404040;
}
li.footer_item {
  padding-top: 8px;
}
.add_cont {
  padding-top: 12px;
}
.times_col{
  padding-left: 22px;
}
.times_col {
  padding-left: 5%;
}
.more_col{
  padding-left: 6%;
}
@media (max-width: 575px) {
  .footer_heading2 {
    font-size: 46px;
  }
  .footer_heading2_cont {
    max-width: 80%;
  }
  .footer_arrow {
    max-width: 20%;
  }
  .row_letstalk {
    margin-top: 24px;
  }
  .add_cont {
    display: flex;
    gap: 6px;
    align-items: center;
}
.address_text {
  font-size: 14px;
  line-height: 145%;
  font-weight: 300 !important;
  font-family: Lato !important;
  color: #404040;
}
.times_col {
  padding-left: calc(var(--bs-gutter-x)* .5);
}
.more_col{
  padding-left: calc(var(--bs-gutter-x)* .5);
}
.footer_sec {
  padding: 6vh 4% 0 4%;
}
.footer_heading{
  text-align: center;
}
h3.footer_heading {
  margin-top: 22px !important;
}
.footer_item a {
  display: flex;
  justify-content: center;
}
.footer_icons {
  display: flex;
  list-style: none;
  justify-content: left;
  padding: 0 !important;
  gap: 6px;
  margin-top: 12px;
  justify-content: center;
}
.footer_items {
  list-style: none;
  padding-left: 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
}
li.footer_item {
  padding-top: 8px;
  width: 63%;
}
.copyright_text {
  text-align: center;
}
.footer_payment_icons {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

}
.footer_item a {
  display: flex;
}
.time_footer{
  width:75%;
}
.days_footer {
  width: 40%;
}


.svg-icon {
  width: 34px;
  height: 34px;
}

.svg-icon rect {
  transition: fill 0.7s, stroke 0.7s;
}

.svg-icon path {
  transition: fill 0.7s;
}

/* Hover effect */
.svg-icon:hover rect {
  fill: #5ca77f;
  stroke: #5ca77f;
}

.svg-icon:hover path {
  fill: #fff;
}
.contact_us_footer_heading .footer_heading{
  transition: 0.7s ease-in-out;
}
.contact_us_footer_heading .footer_heading:hover{
  color: #5ca77f;
}


@media (max-width: 575px){
  .days_footer {
    width: 40% !important;
  }
}


.footer_item span {
  font-size: 16px;
  line-height: 145%;
  font-weight: 300 !important;
  font-family: Lato !important;
  color: #404040;
  text-decoration: none;
}
.times_col {
    padding-left: 36px !important;
    margin-left: 6%;
}