@media (max-width: 576px) {
    .btn_banner1 button {
      padding: 14px 30px;
    }
    .btn_banner2 button {
      padding: 14px 30px;
    }
    .buttons_cont {
      justify-content: center;
    }
    .col-md-4.banner_img_1 {
      max-width: 33.33333%;
    }
    .col-md-4.banner_img_2 {
      margin-top: 4vh;
      max-width: 33.33333%;
    }
    .col-md-4.banner_img_3 {
      max-width: 33.33333%;
    }
    .row_images_right {
      margin-top: 4vh;
    }
    .reviews_cont {
      max-width: 100%;
    }
    .heading_banner {
      font-size: 28px;
      text-align: center;
    }
    .text_banner {
      text-align: center;
    }
  }
  
  @media (min-width: 577px) and (max-width: 767px) {
    .btn_banner1 button {
      padding: 14px 30px;
    }
    .btn_banner2 button {
      padding: 14px 30px;
    }
    .buttons_cont {
      justify-content: center;
    }
    .col-md-4.banner_img_1 {
      max-width: 33.33333%;
    }
    .col-md-4.banner_img_2 {
      margin-top: 4vh;
      max-width: 33.33333%;
    }
    .col-md-4.banner_img_3 {
      max-width: 33.33333%;
    }
    .row_images_right {
      margin-top: 4vh;
    }
    .reviews_cont {
      max-width: 100%;
    }
    .heading_banner {
      font-size: 28px;
      text-align: center;
    }
    .text_banner {
      text-align: center;
    }
  }
  
  