body {
  background-color: #f6f5f3;
}

p {
  margin-bottom: 0;
}

.navbar_padding_custom {
  padding: 2vh 4%;
  background-color: #f6f5f3;
  border-bottom: 1px solid #e5e5e5;
}

.icon_btn_nav {
  border: 0;
  background-color: transparent;
}

.utton_nav_booknow {
  margin-right: 12px;
  font-size: 16px;
  line-height: 145%;
  font-weight: 300;
  font-family: Lato;
  color: #85b69c;
  border: 1px solid #85b69c;
  border-radius: 8px;
  padding: 8px 22px;
  transition: 0.4s ease-in-out;
  background-color: transparent;
}

.icon_btn_nav path {
  font-weight: 900;
}

.utton_nav_booknow:hover {
  background-color: transparent !important;
}

.nav-link.active {
  font-size: 16px;
  line-height: 125%;
  font-weight: 300;
  font-family: Lato;
  color: #353535 !important;
}

.navbar.navbar-expand-lg.navbar_padding_custom {
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 0 1px #cdcaca;

  button.icon_btn_nav {
    padding: 0 !important;
  }

  button.utton_nav_booknow {
    margin-right: 0;
    display: block;
  }

  .navbar_btn_icons {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .nav-link {
    position: relative;
  }

  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #85b69c;
    transition: all 0.4s ease;
  }

  .nav-link:hover::before {
    width: 100%;
    left: 0;
  }
}

.utton_nav_booknow:hover {
  background-color: #85b69c !important;
  color: #fff;
}

.mbl_search {
  display: none !important;
}

@media (max-width: 930px) {
  .nav-link.active {
    font-size: 16px;
    padding: 10px 0;
  }

  .call_btn {
    display: none;
  }

  .search_btn_desktop {
    display: none;
  }

  .search_btn_mbl {
    display: block;
  }

  .search-container {
    position: relative;
    display: inline-block;
    margin-bottom: 44px;
    margin-top: 22px;
  }

  .navbar_mbl {
    display: flex !important;
    /* margin-top: 20%; */
  }

  .navbar-collapse {
    margin-top: 5%;
  }

  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    background-color: transparent;
    transition: all 0.4s ease;
  }

  .utton_nav_booknow:hover {
    background-color: transparent !important;
    color: #fff;
  }

  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: transparent !important;
    transition: all 0.4s ease;
  }
}